<div class="d-flex flex-row align-items-center gap-1">
    @if (_isMonitoring)
    {
        <Icon Type="@IconType.Outline.Sync" Spin="true"/>
        @("Monitorando")
    }
    <Tooltip Title="Setpoint">
        <Input TValue="double"
               Width="60px"
               @bind-Value="_model.Setpoint"></Input>
    </Tooltip>
    <Tooltip Title="Intervalo (s)">
        <Input TValue="int"
               Width="60px"
               @bind-Value="_model.IntervalSeconds"></Input>
    </Tooltip>
    <Button Icon="@IconType.Fill.PlaySquare"
            Type="@ButtonType.Primary"
            Disabled="@_isMonitoring"
            OnClick="StartMonitoring"></Button>
    <Button Icon="@IconType.Fill.PauseCircle"
            Type="@ButtonType.Primary"
            Danger="true"
            Disabled="@(!_isMonitoring)"
            OnClick="StopMonitoring"></Button>
</div>

<Modal @bind-Visible="_errorModal"
       Title="Erro ao iniciar monitoramento">
    @((MarkupString)_errorMessage)
</Modal>

@code {

}